<div *ngIf='user'>
    <h1>Welcome {{ user.firstname}}!</h1>
    <h3>Your Information:</h3>
    <table class="table table-sm" *ngIf='user'>
        <tr>
            <td>Id</td>
            <td>{{ user.id}}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>{{ user.password | hidden }}</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ user.phone}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>IsReviewer</td>
            <td>{{ user.isReviewer | bool }}</td>
        </tr>
        <tr>
            <td>IsAdmin</td>
            <td>{{ user.isAdmin | bool }}</td>
        </tr>
        <tr>
          <td>Is this person an admin: (From syssvs.isAdmin())</td>
          <td>{{ syssvc.isAdmin() | bool}}</td>
      </tr>
    </table>
  </div>
